@font-face {
  font-family: 'Abel';
  src: url('./fonts/Abel-Regular.eot');
  src: url('./fonts/Abel-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Abel-Regular.woff2') format('woff2'),
    url('./fonts/Abel-Regular.woff') format('woff'),
    url('./fonts/Abel-Regular.ttf') format('truetype'),
    url('./fonts/Abel-Regular.svg#Abel-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NHL Washington';
  src: url('./fonts/NHLWashington.eot');
  src: url('./fonts/NHLWashington.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NHLWashington.woff2') format('woff2'),
    url('./fonts/NHLWashington.woff') format('woff'),
    url('./fonts/NHLWashington.ttf') format('truetype'),
    url('./fonts/NHLWashington.svg#NHLWashington') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.eot');
  src: url('./fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular.ttf') format('truetype'),
    url('./fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
