.money {
  &-form-group {
    .img-fluid {
      pointer-events: none;
    }
  }

  &-image {
    left: 0;
    position: absolute;
    top: 0;
    transition: left 1.5s ease-in-out, opacity 1.5s ease-in-out,
      top 1.5s ease-in-out, transform 1.5s ease-in-out;
    visibility: hidden;
    z-index: 9;

    &-flying {
      left: var(--order-left);
      opacity: 0;
      top: var(--order-top);
      visibility: visible;
      transform: scale(0);
    }
  }

  &-serial,
  &-serial-second {
    color: #c23927;
    font-size: 50%;
    letter-spacing: 2px;
    position: absolute;
    z-index: 10;

    @media (min-width: 400px) {
      font-size: 70%;
    }

    @media (min-width: 576px) {
      font-size: 100%;
    }

    @media (min-width: 768px) {
      font-size: 60%;
    }

    @media (min-width: 992px) {
      font-size: 90%;
    }

    @media (min-width: 1200px) {
      font-size: 100%;
    }
  }

  &-serial {
    &-text {
      font-family: 'NHL Washington', sans-serif;

      .money-serial-vertical &,
      .money-serial-horizontal & {
        font-family: 'Roboto', sans-serif;
      }

      .money-serial-vertical & {
        display: block;
      }
    }

    &-number {
      font-family: 'Abel', sans-serif;
      font-weight: 700;
      margin-left: 5px;

      .money-serial-vertical &,
      .money-serial-horizontal & {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
      }

      .money-serial-vertical & {
        display: block;
        margin-left: 0;
      }

      .money-serial-horizontal & {
        @for $i from 1 through 8 {
          span:nth-child(#{$i}) {
            font-size: calc(#{$i} * 5% + 95%);
          }
        }
      }

      @media (min-width: 1200px) {
        margin-left: 10px;

        .money-serial-vertical & {
          margin-left: 0;
        }
      }
    }

    .money-type-500 & {
      color: #c54247;
      left: 8%;
      top: 48%;

      @media (min-width: 400px) {
        top: 50%;
      }

      @media (min-width: 576px) {
        top: 51%;
      }

      @media (min-width: 768px) {
        top: 49%;
      }

      @media (min-width: 992px) {
        top: 50%;
      }

      @media (min-width: 1200px) {
        top: 51%;
      }
    }

    .money-type-1000 & {
      left: 7%;
      top: 26%;

      @media (min-width: 400px) {
        top: 28%;
      }
    }

    .money-type-2000 & {
      left: 39%;
      top: 23%;
    }

    .money-type-5000 & {
      left: 39%;
      top: 20%;

      @media (min-width: 400px) {
        top: 21%;
      }
    }
  }

  &-serial-second {
    .money-type-5000 & {
      left: 15%;
      top: 51%;

      @media (min-width: 1200px) {
        top: 53%;
      }
    }
  }

  &-serial-vertical {
    line-height: 1;

    .character {
      display: block;
    }

    @media (min-width: 400px) {
      font-size: 68%;
    }

    @media (min-width: 576px) {
      font-size: 80%;
    }

    @media (min-width: 768px) {
      font-size: 50%;
    }

    @media (min-width: 992px) {
      font-size: 74%;
    }

    @media (min-width: 1200px) {
      font-size: 88%;
    }

    .money-type-10000 & {
      left: 2%;
      top: 15%;
    }

    .money-type-20000 & {
      left: 4%;
      top: 20%;
    }

    .money-type-50000 & {
      left: 4%;
      top: 20%;
    }

    .money-type-100000 & {
      left: 2%;
      top: 20%;
    }

    .money-type-200000 & {
      left: 3%;
      top: 18%;
    }

    .money-type-500000 & {
      left: 3%;
      top: 16%;
    }
  }

  &-serial-horizontal {
    color: #555555;
    letter-spacing: 1px;
    line-height: 1;

    @media (min-width: 400px) {
      letter-spacing: 2px;
    }

    @media (min-width: 576px) {
      font-size: 95%;
    }

    @media (min-width: 768px) {
      font-size: 55%;
    }

    @media (min-width: 992px) {
      font-size: 82%;
    }

    @media (min-width: 1200px) {
      font-size: 100%;
    }

    .money-type-10000 & {
      left: 75%;
      top: 72%;

      @media (min-width: 400px) {
        left: 70%;
        top: 73%;
      }

      @media (min-width: 576px) {
        top: 77%;
      }

      @media (min-width: 768px) {
        top: 71%;
      }

      @media (min-width: 992px) {
        top: 75%;
      }

      @media (min-width: 1200px) {
        top: 77%;
      }
    }

    .money-type-20000 & {
      left: 76%;
      top: 72%;

      @media (min-width: 400px) {
        left: 73%;
        top: 73%;
      }

      @media (min-width: 576px) {
        top: 75%;
      }

      @media (min-width: 768px) {
        top: 71%;
      }

      @media (min-width: 992px) {
        top: 73%;
      }

      @media (min-width: 1200px) {
        top: 75%;
      }
    }

    .money-type-50000 & {
      left: 75%;
      top: 73%;

      @media (min-width: 400px) {
        left: 72%;
      }

      @media (min-width: 576px) {
        top: 75%;
      }

      @media (min-width: 768px) {
        top: 72%;
      }

      @media (min-width: 992px) {
        top: 74%;
      }

      @media (min-width: 1200px) {
        top: 76%;
      }
    }

    .money-type-100000 & {
      left: 71%;
      top: 70%;

      @media (min-width: 400px) {
        left: 71%;
        top: 71%;
      }

      @media (min-width: 768px) {
        top: 68%;
      }

      @media (min-width: 992px) {
        top: 72%;
      }

      @media (min-width: 1200px) {
        top: 73%;
      }
    }

    .money-type-200000 & {
      left: 74%;
      top: 71%;

      @media (min-width: 400px) {
        top: 70%;
      }

      @media (min-width: 576px) {
        top: 73%;
      }

      @media (min-width: 768px) {
        top: 69%;
      }

      @media (min-width: 992px) {
        top: 72%;
      }

      @media (min-width: 1200px) {
        top: 74%;
      }
    }

    .money-type-500000 & {
      left: 75%;
      top: 72%;

      @media (min-width: 400px) {
        top: 71%;
      }

      @media (min-width: 576px) {
        top: 74%;
      }

      @media (min-width: 768px) {
        top: 69%;
      }

      @media (min-width: 992px) {
        top: 72%;
      }

      @media (min-width: 1200px) {
        top: 74%;
      }
    }
  }

  &-series {
    font-size: 80%;
  }
}
